h1 {font-family:"Georgia"; color: #FFFFFF; font-size: 75; font-weight: 35; background-color: #980000;}
h2 {color: #FFFFFF; font-size: 30; font-weight: 20; background-color: #980000}
ul {list-style-type: "none"; padding: 0; margin: 0; text-align:"left"}
h3 {font-weight:18;}
#divred {background-color: #CC9900; border:0; color: #FFFFFF; padding:10;}
h4 {line-height: 0; font-size:8;}
#header4 {font-weight: 8; font-size: 10;}
#header5 {font-weight: 8; font-size: 10;}
#contacts {}
/* unvisited link */
a:link {color:#FFFFFF;}
/* visited link */
a:visited {color: ##C8C8C8;}
/* mouse over link */
a:hover {color: #33FFFF;}