<head>
	<title>CSS Assignment-1c</title>
	<meta charset= "utf-8">
	<link rel="stylesheet" type="text/css" href="css/styles-1d.css">
</head>
<div id="lion">
	<h1>Make a Headline Appear on Top of An Image</h1>
</div>