<head>
	<title>CSS Assignment-1a</title>
	<meta charset= "utf-8">
	<link rel="stylesheet" type="text/css" href="css/styles-1a.css">
</head>
<body>
	<h1>Using CSS, make the text on the page white, and make the background on the page black.</h1>
</body>