<head>
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	<title>CSS Assignment-1c</title>
	<meta charset= "utf-8">
	<link rel="stylesheet" type="text/css" href="css/styles-1c.css">
</head>
<article>
	<h1>Headline One</h1>
		<p>Add a series of five article tags to a web page. Within each tag, include a headline and a one- or two-line lede.</p>
	<h1>Headline Two</h1>
		<p>Browse the Google Fonts repository and find a new font face to use for the headlines. When you've found something you like, click the blue "Add to Collection" button.</p>
	<h1>Headline Three</h1>
		<p>Then, click the gray "Use" button in the bottom-right corner. Follow the instructions to incorporate the font into your page, applying it only to your headlines.</p>
	<h1>Headline Four</h1>
		<p>This is the fourth paragraph. What should we put here?</p>
	<h1>Headline Five</h1>
		<p>This is the fifth paragraph. What should be included?</p>
</article>