<head>
	<title>CSS Assignment-1b</title>
	<meta charset= "utf-8">
	<link rel="stylesheet" type="text/css" href="css/styles-1b.css">
</head>
<body>
<article>
	<h1>CSS Assignment 1b</h1>
	<p id="para1">Add an article tag to a page with multiple paragraphs of text within it. Using CSS, change the styles of the text as follows:</p>
    <p>Make the font color of all the paragraphs a dark gray. Make the first paragraph slightly larger and bold.</p>
    <p>Change the line height for all the text, increasing it slightly from the default. Add a very light gray background to the entire article.</p>
    <p>Add a somewhat darker gray border to the article. Make sure the border is at least 4 pixels thick. Make sure there is padding of at least 10 pixels between the border and the text.</p>
</article>
</body>